@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rethink-sans);
  --font-mono: var(--font-inter);
}

body {
  font-family: var(--font-rethink-sans), sans-serif;
}

.bg-gradient-radial {
  background:
    radial-gradient(
      circle at 0% 0%,
      rgba(113, 162, 236, 0.65) 0%,
      rgba(113, 162, 236, 0.65) 20%,
      rgba(255, 255, 255, 0.8) 45%,
      transparent 60%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(113, 162, 236, 0.5) 0%,
      rgba(113, 162, 236, 0.25) 35%,
      transparent 55%
    );
  background-color: #ffffff;
}
